<div class="banner" id="hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1606579335925-ea67bcbd09c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8); background-size: cover; height: 400px">
  <div class="container">
    <h1>All Lists</h1>
    <p>Your great movie lists</p>
  </div>
</div>